.bg-gradient1{
    background: rgb(249,179,255);
background: linear-gradient(0deg, rgba(249,179,255,1) 0%, rgb(0, 20, 111) 100%);
}

.border-1{
    border: 2px solid black;
}




h1{
    font-family: "Sriracha", cursive;
    color: black(255, 174, 0);
    text-shadow: 4px 4px 0 rgb(111, 59, 67);
  -webkit-text-stroke: 2px white;
  font-weight: 500;
}

#Hangman{
   max-width: 300px;
}

.btn-primary{
    background-color: rgb(212, 226, 252);
    color: black;
    border: 2px solid black;
    font-size: xx-large;
    width:60px;
    font-family: 'Lato', sans-serif;
    margin-top: 3px
}